{% extends 'base.html' %}
{% load static %}
{% load cart_filters %}

{% block content %}
<div class="container-fluid my-5 cart-container">
    <div class="row">
        <div class="col-12">
            <h3>Shopping Cart</h3>
            <hr>
        </div>
        <div class="col-12 p-0 line-items-container">
            <table class="table table-hover table-responsive bg-light cart-items-table">
                <tr>
                    <th class="ps-sm-3 pe-0">Product</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Sub<br class="d-inline d-sm-none">total</th>
                </tr>
                
                
                    {% for item in cart_contents %}
                        {% if item.variant %}
                           <tr>
                                <td class="ps-sm-3 pe-0">
                                    <div class="image-preview-container">
                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}{{ item.variant.name }}" class="image-preview">
                                    </div>
                                    <strong class="overflow-wrap">{{ item.product.name }}&nbsp;-&nbsp;<span class="text-bright">{{ item.variant.color | title }}&nbsp;-&nbsp;{{ item.variant.size | upper }}</span></strong></td>
                                <td class="text-center">€{{ item.variant.price }}</td>
                                <td class="text-center p-0">
                                    {% with item_id=item.product.id|build_item_id:item.variant.id %}
                                    <form action="{% url 'update_cart_qty' item_id %}" method="POST" class="update-cart-item-qty">
                                    {% endwith %}
                                        {% csrf_token %}
                                        <div class="input-group adj-quantity-group mx-auto">
                                            <div class="input-group-prepend">
                                                <button class="decrease-qty btn" data-item_id="{{ item.product.id }}-{{ item.variant.id }}" id="decrease-btn_{{ item.product.id }}-{{ item.variant.id }}">
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </button>
                                            </div>
                                            <input type="number" class="form-control adj-quantity" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.variant.quantity }}" data-item_id="{{ item.product.id }}-{{ item.variant.id }}" id="id_qty_{{ item.product.id }}-{{ item.variant.id }}">
                                            <div class="input-group-append">
                                                <button class="increase-qty btn" data-item_id="{{ item.product.id }}-{{ item.variant.id }}" id="increase-btn_{{ item.product.id }}-{{ item.variant.id }}">
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-qty-link btn text-bright" type="submit">Update <i class="fas fa-sync-alt"></i></button>
                                    <a class="remove-item text-danger btn" id="remove_{{ item.product.id }}-{{ item.variant.id }}">Remove <i class="fas fa-trash-alt"></i></a>
                                </td>
                                <td class="text-center">€{{ item.variant.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="ps-sm-3 pe-0">
                                    <div class="image-preview-container">
                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="image-preview">
                                    </div>
                                    <strong class="overflow-wrap">{{ item.product.name }}</strong>
                                    <strong>{{ item_id }}</strong>
                                </td>
                                <td class="text-center">€{{ item.product.price }}</td>
                                <td class="text-center p-0">
                                    <form action="{% url 'update_cart_qty' item.product.id %}" method="POST" class="update-cart-item-qty">
                                        {% csrf_token %}
                                        <div class="input-group adj-quantity-group mx-auto">
                                            <div class="input-group-prepend">
                                                <button class="decrease-qty btn" data-item_id="{{ item.product.id }}" id="decrease-btn_{{ item.product.id }}">
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </button>
                                            </div>
                                            <input class="form-control adj-quantity" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.quantity }}" data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">
                                            <div class="input-group-append">
                                                <button class="increase-qty btn" data-item_id="{{ item.product.id }}" id="increase-btn_{{ item.product.id }}">
                                                        <i class="fas fa-plus fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-qty-link btn text-bright">Update <i class="fas fa-sync-alt"></i></a>
                                    <a class="remove-item text-danger btn" id="remove_{{ item.product.id }}">Remove <i class="fas fa-trash-alt"></i></a>
                                </td>
                                <td class="text-center">€{{ item.product.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                        {% endif %}
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-5">
                            <h6>No products In Cart!</h6>
                            <a href="{% url 'products' %}" class="btn btn-bright mt-2">Go to Products</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="adjust-colspan column-total" colspan="2"></td>
                        <td class="text-center column-total"><h6>{{ product_count }}<h6></td>
                        <td class="text-center column-total"><h6>€{{ total| floatformat:2 }}</h6></td>
                    </tr>
            </table>
            <hr>
        </div>
        
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="special-instructions" class="ms-2 mb-1">Special Instructions For Seller</label>
                <textarea name="special-instructions" id="special-instructions" class="form-control" cols="50" rows="5"></textarea>
            </div>
        </div>
        <div class="col-12 col-md-6 pt-2">
            <div class="w-75 ms-3">
                {% if shipping > 0 %} 
                <p><strong>Subtotal:</strong> €{{ total| floatformat:2 }}</p>
                <p><strong>Shipping:</strong> €{{ shipping| floatformat:2 }}</p>
                {% endif %}
                <hr>
                <h5>Order Total:</h5>
                <h4 class="d-inline-block">€{{ cart_total| floatformat:2 }}</h4> <small class="text-capitalize d-inline-block ms-1"> Incl VAT.</small> / <h5 class="d-inline-block ms-1">€{{ cart_total | calc_tax| floatformat:2 }}</h5><small class="text-capitalize d-inline-block ms-1">  Excl VAT.</small>
                {% with ex_vat=total|calc_tax %}
                    <small class="ms-2"><strong>VAT:</strong> €{{ cart_total|subtract:ex_vat| floatformat:2 }}</small>
                {% endwith %}
                {% if shipping == 0 %}
                <p><em>You qualify for free shipping! - <i class="fas fa-shipping-fast"></i></em></p>
                {% endif %}
                <hr>
                </p>
                <button class="btn btn-bright">Checkout <i class="fas fa-shopping-cart"></i></button>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
{{ block.super }}
    <!-- Scripts for qty input -->
    {% include 'includes/quantity_buttons_js.html' %}

    <!-- Submit Update & Delete -->
    <script type="text/javascript">

       // Prevent form submission on enter 
       $(document).ready(function() {
            $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
                }
            });
        });

       // update quantity on click
        $('.update-qty-link').click(function(e) {
            var form = $(this).prev('.update-cart-item-qty');
            form.submit();
        })

        // remove and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            
            let variant;
            if (itemId.includes('-')) {
                variant = itemId.split('-')[1];
            } else {
                variant = null;
            }

            let url = `/cart/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'variant': variant};

            $.post(url, data)
            .done(function(){
                location.reload();
            })
            
        })
    </script>
{% endblock %}