{% load crispy_forms_tags %}
{% csrf_token %}
{% for field in product_form %}
    {% if field.name == "has_variants" %}
    
    <div class="checkbox-row col-sm-6">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
    </div>

    {% elif field.name == "available" %}
    <div class="checkbox-row col-sm-6">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}  
    </div>
    {% else %}   
        {{ field | as_crispy_field }}
    {% endif %}
{% endfor %}

