<h5>Variants</h5>
        {% csrf_token %}
        {{ variant_formset.management_form }}
        {% for form in variant_formset %}
            
        <div class="add-variant-area row my-3">
            {% for field in form.visible_fields %}
              {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
              {% endif %}
              {% if field.name == 'parent_product' %}
              {{ field }} 
              {% elif field.name == 'color' or field.name == 'size' %}
                <div class="col-6 mt-2">
                    {{ field.label }}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </div>
              {% else %}
                <div class="col-12 mt-2">
                    {{ field.label }}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </div>
              {% endif %}
            {% endfor %}
                <div class="col-12"><hr>
                  <button type="submit" class="btn btn-bright w-100">Update Variant  <i class="fas fa-plus-circle"></i></button>
                </div>
        </div> 
        
        {% endfor %}