{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cart_filters %}

{% block additional_headstyles %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid my-5 checkout-container">
    <div class="row">
        <div class="col-12 order-0">
            <h3>Checkout</h3>
            <hr>
        </div>
        <!-- Billing Form -->
        <div class="col-xl-6 order-2 order-xl-1 mt-4 mt-xl-0">
            <h4 class="bg-main p-2">Billing Details</h4>
            <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                <div class="row">
                    {% csrf_token %}
                        <h5>Shipping Details</h5>
                        {% for field in form.visible_fields %}
                            {% if field.name == 'country' or field.name == 'postcode' or field.name == 'city_or_town' or field.name == 'county_or_state' %} 
                                <div class="col-md-6">
                                    {{ field }}
                                </div>
                            {% else %}
                                <div class="col-12">
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-3 mt-3 ps-4">
                            <label for="save-details">Save Details</label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="save-details" id="save-details">
                        </div>
                        <div class="col-9 mt-3 ps-4">
                            <label for="save-details">Sign up to newsletter</label>
                            <br>
                            <input class="form-check-input" type="checkbox" name="accept-marketing" id="accept-marketing">
                        </div>
                    </div>
                <div class="row mt-3">
                    <h5>Payment Details</h5>
                    <div class="col-12 px-4" id="card-element"></div>
                    <div class="col-12 text-danger" id="card-errors" role="alert"></div>
                </div>
                <button type="submit" id="hidden-submit" hidden>hidden submit</button>
            </form>
        </div>
        <!-- Order Summary -->
        <div class="col-xl-6 order-1 order-xl-2 line-items-container">
            <h4 class="bg-main p-2 d-flex justify-content-between align-items-center">Order Summary
                <a href="checkout-summary-collapse" data-bs-toggle="collapse" data-bs-target="#checkout-summary-collapse" role="button" aria-expanded="false" id="toggle-show-hide" class="text-white" style="font-size: 1rem;">
                    Hide Summary <i class="fas fa-caret-up"></i>
                </a>
            </h4>
            
            
            <table class="table table-responsive cart-items-table collapse show" id="checkout-summary-collapse">
                <tr>
                    <th class="ps-sm-3 pe-0">Product</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Sub<br class="d-inline d-sm-none">total</th>
                </tr>
                    {% for item in cart_contents %}
                        {% if item.variant %}
                           <tr>
                                <td class="ps-sm-3 pe-0">
                                    <div class="image-preview-container">
                                        <img src="{{ item.variant.image.url }}" alt="{{ item.product.name }}{{ item.variant.name }}" class="image-preview">
                                    </div>
                                    <strong class="overflow-wrap">{{ item.product.name }}&nbsp;-&nbsp;<span class="text-bright">{{ item.variant.color | title }}&nbsp;-&nbsp;{{ item.variant.size | upper }}</span></strong></td>
                                <td class="text-center">€{{ item.variant.price }}</td>
                                <td class="text-center p-0">
                                    {{ item.quantity }}
                                </td>
                                <td class="text-center">€{{ item.variant.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="ps-sm-3 pe-0">
                                    <div class="image-preview-container">
                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="image-preview">
                                    </div>
                                    <strong class="overflow-wrap">{{ item.product.name }}</strong>
                                    <strong>{{ item_id }}</strong>
                                </td>
                                <td class="text-center">€{{ item.product.price }}</td>
                                <td class="text-center p-0">
                                   {{ item.quantity }}
                                </td>
                                <td class="text-center">€{{ item.product.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td class="adjust-colspan column-total" colspan="2"></td>
                        <td class="text-center column-total"><h6>{{ product_count }}<h6></td>
                        <td class="text-center column-total"><h6>€{{ total| floatformat:2 }}</h6></td>
                    </tr>
            </table>
        </div>
        <div class="col-12 order-3">
            <hr>
            <div class="text-center">
                
                {% if shipping > 0 %} 
                <p><strong>Subtotal:</strong> €{{ total| floatformat:2 }}</p>
                <p><strong>Shipping:</strong> €{{ shipping| floatformat:2 }}</p>
                {% endif %}
                
                <h5>Order Total:</h5>
                <h4 class="d-inline-block">€{{ cart_total| floatformat:2 }}</h4> <small class="text-capitalize d-inline-block ms-1"> Incl VAT.</small> / <h5 class="d-inline-block ms-1">€{{ cart_total | calc_tax| floatformat:2 }}</h5><small class="text-capitalize d-inline-block ms-1">  Excl VAT.</small>
                {% with ex_vat=total|calc_tax %}
                    <small class="ms-2"><strong>VAT:</strong> €{{ cart_total|subtract:ex_vat| floatformat:2 }}</small>
                {% endwith %}
                {% if shipping == 0 %}
                <p><em>You qualify for free shipping! - <i class="fas fa-shipping-fast"></i></em></p>
                {% endif %}
                
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-3 order-4">
            <div class="button-container mt-3">
                <a role="submit" id="btn-checkout" class="btn btn-bright">Checkout Securely <i class="fas fa-lock"></i></a>
                <a class="btn btn-outline-bright" href="{% url 'view_cart' %}">Return To Cart <i class="fas fa-undo"></i></a>
            </div>
        </div> 
    </div>
</div>
<div id="loading-overlay">
    <h1 class="loading-spinner">
        <i class="fas fax-3x fa-sync-alt fa-spin"></i>
    </h1>
</div>
{% endblock %}

{% block footerjs %}
    {{block.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script type="text/javascript">
        // Change show/hide text on click
        $('#toggle-show-hide').click(function(){
            if ($(this).html() == 'Show Summary <i class="fas fa-caret-down"></i>') {
                $(this).html('Hide Summary <i class="fas fa-caret-up"></i>');
            } else {
                $(this).html('Show Summary <i class="fas fa-caret-down"></i>');
            }
        });
    </script>
{% endblock %}