<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="hero-image-container">
                <img src="https://images.unsplash.com/photo-1508013861974-9f6347163ebe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80" alt="" class="mx-auto hero-img">
                <div class="hero-image-text"><span>Hygge (pronounced hoo-gah):</span> a Danish word that describes instilling a feeling of wellbeing and cosiness.</div>
            </div>
        </div>
    </div>
    
</div>