<div class="container-fluid my-3 my-md-5 info-container">
    <div class="row">
        <div class="col-10 offset-1 text-center" id="hygge-what">
            <h2>What is Hygge?</h2>
        </div>
        <div class="col-10 offset-1 text-center" id="hygge-is">
            <p><span>Hygge (pronounced hoo-gah):</span> is a Danish word that describes instilling a feeling of wellbeing and cosiness.</p>
            <p>Plants are the perfect way to add a sense of Hygge to your home. We stock a large range of stylish house plants to add a splash of comfort, warmth and serenity to the place where you rest.</p>
        </div>
    </div>
</div>