<div class="container-fluid incentives-container my-2">
    <div class="row">
        <div class="col-4 text-center p-2">
            <i class="fas fa-euro-sign"></i>
            <br>
            <span>Price Match Promise</span>
        </div>
        <div class="col-4 text-center p-2">
            <i class="fas fa-shipping-fast"></i>
            <br>
            <span>Free Shipping Over €50</span>
        </div>
        <div class="col-4 text-center p-2">
            <i class="fas fa-info"></i>
            <br>
            <span>Knowledgeable Staff</span>
        </div>
    </div>
</div>