<div class="container-fluid my-3" class="popular-categories">
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="tile">
                <a href="">
                    <img class="tile-img" src="{{ MEDIA_URL }}plantscat.jpg" alt="Plants">
                    <span class="tile-title">Plants</span>
                </a>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="tile">
                <a href="">
                    <img class="tile-img" src="{{ MEDIA_URL }}succulentcat.jpg" alt="Succulents">
                    <span class="tile-title">Succulents</span>
                </a>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-3 mt-lg-0">
            <div class="tile">
                <a href="">
                    <img class="tile-img" src="{{ MEDIA_URL }}cactuscat.jpg" alt="Cacti">
                    <span class="tile-title">Cacti</span>
                </a>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-3 mt-lg-0">
            <div class="tile">
                <a href="">
                    <img class="tile-img" src="{{ MEDIA_URL }}accessoriescat.jpg" alt="Accessories">
                    <span class="tile-title">Accessories</span>
                </a>
            </div>
        </div>
    </div>
</div>