<div class="container-fluid my-3 popular-categories">
    <div class="row">
        <div class="col-6 col-md-3">
            <div class="tile">
                <a href="{% url 'products' %}?category=plants">
                    <img class="tile-img" src="{{ MEDIA_URL }}plantscat.jpg" alt="Plants">
                    <span class="tile-title">Plants</span>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="tile">
                <a href="{% url 'products' %}?category=succulents">
                    <img class="tile-img" src="{{ MEDIA_URL }}succulentcat.jpg" alt="Succulents">
                    <span class="tile-title">Succulents</span>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mt-3 mt-md-0">
            <div class="tile">
                <a href="{% url 'products' %}?category=cacti">
                    <img class="tile-img" src="{{ MEDIA_URL }}cactuscat.jpg" alt="Cacti">
                    <span class="tile-title">Cacti</span>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mt-3 mt-md-0">
            <div class="tile">
                <a href="{% url 'products' %}?category=accessories">
                    <img class="tile-img" src="{{ MEDIA_URL }}accessoriescat.jpg" alt="Accessories">
                    <span class="tile-title">Accessories</span>
                </a>
            </div>
        </div>
    </div>
</div>