@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,700&family=Source+Sans+Pro:wght@300;400;900&family=Staatliches&display=swap');

:root {
    --hygge:  'Karla', sans-serif;
    --main: 'Source Sans Pro', sans-serif;
    --head: 'Staatliches', cursive;

    --light: #f8f9fa;

    --grn: #33775d;
    --grn-dark: #004b33;
    --grn-light: #62a68a;

    --orange: #ee9b00;
    --sand: #cebfa8;
}

/* General Styles */

body {
    font-family: var(--main);
    color: #121212;
    font-weight: 300;
    background: #e4e3db;
}

a {
    text-decoration: none;
}

h3, h4, h5 {
    font-family: var(--head);
}

.text-bright {
    color: var(--orange);
}

.text-white {
    color: #fff;
}

.bg-bright {
    background: var(--orange) !important;
    color: #fff !important;
}

.bg-dark {
    background: var(--grn-dark);
    color: #fff;
}

.bg-main {
    background: var(--grn);
    color: #fff;
}

.btn {
    border: none;
}

.btn-dark {
    background: var(--grn-dark);
    color: #fff;
}

.btn-bright {
    background: var(--orange);
    color: #fff;
}

.btn-outline-bright {
    background: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
}

.btn-outline-dark {
    background: transparent;
    color: var(--grn-dark);
    border: 1px solid var(--grn-dark);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button-container a, .button-container button {
    flex-basis: 50%;
    align-self: stretch;
}

.button-container a:first-child,  .button-container button:first-child{
    margin-right: 4%;
}

/* Header */

.header-custom {
    background:var(--grn);
    color: #fff;
}

.header-custom a {
    color: #fff;
}

.navbar-brand {
    font-family: var(--hygge);
    font-size: 1.4rem;
}

.hygge {
    font-family: var(--hygge);
    color: #fff;
}

.nav-link{
    font-family: var(--head);
    font-size: 1.2rem;
}

a.navbar-brand:hover,
header a:hover,
header a:focus,
header a:active,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--orange) !important;
}

.navbar-toggler{
    color: #fff;
}

/* Search area */

header form {
    background-color: transparent;
    padding: 0;
}

.site-search{
    margin-top: 0;
    background: var(--grn-light);
    border: none;
}

.site-search::placeholder {
    color:var(--grn-dark) !important;
    font-style: italic;
}

/* Account & Cart Area */

.user-area {
     text-align: center;
}

.user-area-link {
    display: inline-block;
    margin: 0 .5rem;
    font-size: 0.75rem;
    font-family: var(--hygge);
}

.dropdown-menu li a.dropdown-item {
    color: #000;
    text-align: center;
}

.dropdown-menu li:nth-of-type(1) {
    border-bottom: 1px solid #000;
}

.dropdown-menu li:nth-of-type(3) {
    border-top: 1px solid #000;
}

.top-menu {
    align-items: flex-start;
}

/* Footer */

footer {
    background: var(--grn);
    color: #fff;
    font-family: var(--head);
    text-align: center;
}

.social-icons-container {
    display: flex;
    justify-content: center;
}

.social-icon a i{
    padding: 1rem;
    font-size: 2rem;
    color: #222;
}

.social-icon a i:hover {
    color: var(--grn-dark);
}

footer a{
    color: #fff;
}

footer a:hover,
footer a:focus,
footer a:active,
footer .social-icon a i:hover,
footer .social-icon a i:focus,
footer .social-icon a i:active {
    color: var(--orange);
}

footer .social-icon a i {
    color: #fff;
}

/* Incentives Bar */

.incentives-container {
    text-align: center;
    background: var(--grn);
    color: #fff;
    font-size: 0.75rem;
    width: 98%;
}

.incentives-container .col-4:nth-of-type(2) {
    border-left: 2px solid #e4e3db;
    border-right: 2px solid #e4e3db;
}

/* Messages Container */

.message-container {
    padding: 1%;
}

.message-container .success {
    color:rgba(0, 140, 45, 0.75);
    font-family: var(--head);
    border-top: 2px solid rgba(0, 140, 45, 0.75);
    border-bottom: 2px solid rgba(0, 140, 45, 0.75);
    max-width: 75%;
    padding: 1% 0;
    margin: 0 auto;
}

.message-container .error {
    color:rgba(231, 8, 8, 0.75);
    font-family: var(--head);
    border-top: 2px solid rgba(231, 8, 8, 0.75);
    border-bottom: 2px solid rgba(231, 8, 8, 0.75);
    max-width: 75%;
    padding: 1% 0;
    margin: 0 auto;
}

/* Homepage Hero Image */

.hero-image-container {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
}

.hero-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    background: rgba(0, 27, 19, 0.79);
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px rgba(33, 33, 33, 0.5);
    font-size: 1rem;
    z-index: 3;
    padding: 1rem;
}

.hero-image-text span {
    font-family: var(--hygge);
}

.hero-image-btn {
    display: block;
    max-width: 50%;
    background: var(--grn);
    font-family: var(--hygge);
    color: #fff;
    text-shadow: none;
}

.hero-image-btn:hover,
.hero-image-btn:active,
.hero-image-btn:focus {
    background: var(--orange);
}

/* Hygge Info Box */

.info-container {
    max-width: 80vw;
    margin: 0 auto;
    background: var(--sand);
    color: rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}

#hygge-what {
    margin: 1rem auto;
    font-family: var(--hygge);
    cursor: pointer;
    
}

#hygge-what:hover {
    color: var(--orange);
}

#hygge-is {
    display: none;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 500;
}

#hygge-is span {
    font-family: var(--head);
}

/* Popular Categories Grid */

.popular-categories{
    width: 100%;
    margin: 0 auto;
}

.tile {
    width: 100%;
    height: 40vw;
    position: relative;
    cursor: pointer;
}

.tile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tile-title {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left:25%;
    text-align: center;
    font-family: var(--head);
    text-transform: uppercase;
    Z-index: 3;
    font-size: 1.2rem;
    color: #eee;
    text-shadow: 2px 2px #000;
}

.tile-title:hover,
.tile-title:active,
.tile-title:focus {
    color: var(--orange);
}

.tile:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
}

/* Products */

.product-container, .account-container {
    width: 90vw;
}

.product-tile > div {
    margin: 0 auto;
    max-width: 300px;
}

.product-tile-img {
    width: 100%;
    background: #fff;
    border-radius: .3rem;
}

.product-tile-img img {
    max-width: 100%;
    height: 300px;
    object-fit: scale-down;
}

.product-tile-name {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 3rem;
}

.product-tile-buttons {
    display: flex;
    justify-content: space-between;
}

.product-tile-buttons a {
    font-size: .75rem;
    width: 45%;
}

.delete-product {
    cursor: pointer;
}

/* single Product Page */

.product-path a,
a.product-path{
    color: #222;
    font-size: 1.1rem;
    font-weight: 500;
}

.product-path a:hover,
.product-path a:active,
.product-path a:focus,
a.product-path:hover,
a.product-path:active,
a.product-path:focus {
    color: var(--grn);
}

.single-product-img-container {
    background: #fff;
    max-height: 300px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3%;
}

.single-product-img {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: zoom-in;
}

.thumbnail-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    object-fit: scale-down;
}

.thumbnail {
    margin-top: 3%;
    flex-basis: 30%;
    text-align: center;
    height: 100px;
    background: #fff;
    cursor: pointer;
}

.thumbnail-img {
    padding: 3% 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    overflow-y: hidden;
}

#thumbnail-prev:hover, 
#thumbnail-prev:active, 
#thumbnail-prev:focus, 
#thumbnail-next:hover,
#thumbnail-next:active, 
#thumbnail-next:focus {
    color: var(--orange);
}

.indicator {
    content: "";
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    background: #555;
}

.not-allowed:hover, 
button.not-allowed:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

#add-to-cart-form {
    background-color: transparent;
}

#add-to-cart-quantity {
    border-radius: 0;
}

.input-group-prepend {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
 }

 .input-group-append {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
 }

/* Add Product Form */ 

.col-12.image-drop-wrapper {
    position: relative;
    border-radius: 5px;
    padding: 2rem 0;
    text-align: center;
    background: #fff;
    border: 1px dashed #898e94;
}

.btn-file {
    margin: 0 auto;
    overflow: hidden;
    background: #ededed;
    color: #222;
}

.image-drop-wrapper:hover,
.image-drop-wrapper:active,
.image-drop-wrapper:focus {
    border-color: var(--orange);
    border-style: solid;
}

.btn-file i {
    font-size: 2rem;
}

.image-drop-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

label[for="id_image"] {
    margin-bottom: 0.5rem;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

#add-product-btn {
    padding: 1rem;
}

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible;
}

/* Add Variants Form */

#add-variants-form h5{
    background: var(--grn-dark);
    color: #fff;
    font-family: var(--hygge);
    padding: 0.5rem;
}

#image-preview-container, .image-preview-container {
    position: relative;
    height: 150px;
    width: 150px;
    background: #fff;
}

#image-preview, .image-preview {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

#delete-icon {
    position: absolute;
    top: 0;
    left: 125px;
    font-size: 1.2rem;
    cursor: pointer;
}

#delete-icon:hover,
#delete-icon:active,
#delete-icon:focus {
    color: #ff0000;
}

.add-variant-area {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 2%;
}

.edit-delete-container {
    position: relative;
}

.are-you-sure {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #e4e3db;
    padding: 5%;
}

.are-you-sure a, .are-you-sure span {
    width: 45%;
}

/* Shopping Cart */

.cart-container, .checkout-container, .collection-container, .checkout-success-container {
    max-width: 95vw;
}

.cart-items-table {
    padding: 0;
    margin: 0;
    background: #ededed;
}

.cart-items-table th{
    padding: .5rem;
    font-size: 0.9rem;
    border-bottom: 2px solid #ddd;
    width: 25%;
    vertical-align: baseline;
    background: #ededed;
}

tr td.column-total.first-row {
    padding-top: 0.75rem;
    border-top: 2px solid #ddd;
}

.cart-items-table td {
    font-size: 1rem;
    vertical-align: baseline;
    width: 25%;
    background: #ededed;
}

.cart-items-table td h6{
    font-size: 0.9rem;
    font-weight: 600;
}

tr td.column-total {
    margin-top: 0;
    border: none;
}


.image-preview-container, .image-preview {
    height: 90px;
    width: 90px;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

.cart-items-table td input[type='number'] {
    text-align: center;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    appearance: none;
    -webkit-appearance: none;

    margin: 0;
}

.update-cart-item-qty button.btn, .update-cart-item-qty a{
    font-size: 0.9rem;
}

.adj-quantity-group {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.adj-quantity-group form {
    margin: 0;
    padding: 0;
}

.adj-quantity {
    max-width: 30%;
}

.input-group-append, .input-group-prepend {
    background: var(--orange);
    padding: 0.5rem;
    margin: 0;
}

.increase-qty.btn, .decrease-qty.btn {
    padding: 0;
    margin: 0;
}

.cart-container .input-group-append {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
 }

 .cart-container .input-group-prepend {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
 }

.input-group-append i, .input-group-prepend i {
    font-size: 0.65rem;
    color: #fff;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

/* Checkout Page */

form, .checkout-container form, .collection-container form {
    padding: 2%;
    padding-bottom: 4%;
    background: #ededed;
    border-radius: 5px;
}

form input, form select, form textarea, form label {
    margin-top: 0.5rem;
}

.checkout-container form input, .checkout-container form select {
    margin-top: 1rem;
    border: none;
}

form label, .checkout-container form label, .collection-container form label{
    font-weight: 600;
}

input.form-control::placeholder, select{
    color: #898e94;
}

select, #id_country {
    appearance: none;
    background-image: url(../../media/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 0.9rem;
    padding-right: 25px;
    cursor: pointer;
}

#checkout-form h5 {
    font-family: var(--main);
    font-weight: 600;
}

.form-check-input:checked {
    background: var(--grn);
}

/* Collection Page */

#div_id_products {
    margin: 2% auto;
    max-height: 150px;
    overflow-y: scroll;
    
}

#div_id_products div{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: start;
    background-color: #fff;
    border-radius: 5px;
}

#div_id_products div .form-check {
    margin: 0.5rem;
}

.collection-container form label {
    margin: 0.5rem auto;
}

.collection-container form .form-check label {
    font-weight: 400;
    margin: 0;
    margin-left: 0.25rem;
}

#div_id_active, #div_id_remember {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
}

#div_id_active label, #div_id_remember label {
    font-weight: 600;
    margin-left: 0;
}

#div_id_active input, #div_id_remember input{
    margin-left: 1rem;
}

/* Checkout Success */

.checkout-success-section-wrapper {
    margin: 1rem auto;
    border: 1px solid #898e94;
    padding: 0.5rem;
    border-radius: 5px;
    background: #ededed;
}

.checkout-success-section-wrapper h6 {
    margin-top: 0.35rem;
    font-weight: 600;
}

.checkout-success-section-wrapper .col-8, .checkout-success-section-wrapper .col-4 {
    margin: 0.3rem auto;
}
.checkout-success-section-wrapper .col-8, .checkout-success-section-wrapper .col-3 {
    text-align: right;
}


@media screen and (min-width: 576px) {
    .hero-image-text {
        font-size: 1.4rem;
    }

    .hero-image-btn {
        max-width: 25%;
        padding: 0.75rem 0;
        Font-size: 1.2rem;
    }

    .image-preview-container, .image-preview {
        height: 75px;
        width: 75px;
    }

    .cart-items-table td {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {

    footer a{
        font-size: 1.2rem;
    }

    .incentives-container {
        font-size: 1rem;
    }
    
    .tile {
        height: 18vw;
    }

    .tile-title {
        font-size: 1.5rem;
    }

    .product-container, .cart-container, .checkout-container, .collection-container, .checkout-success-container, .account-container {
        width: 75vw;
    }

    .single-product-img-container {
        max-height: 40vmin;
    }

    .image-preview-container, .image-preview {
        height: 100px;
        width: 100px;
        display: inline-block;
        margin-right: 2%;
    }

    .cart-items-table th{
        font-size: 1.1rem;
    }

    .cart-items-table td h6{
        font-size: 1.1rem;
        font-weight: 600;
    }

}

@media screen and (min-width: 992px) {
    .user-area-link {
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 1.4rem;
    }

    .hero-image-container {
        max-width: 80%;
        max-height: 70vh;
        margin: 0 auto;
        overflow: hidden;
        object-fit: scale-down;
    }

    .hero-image-text {
        font-size: 1.8rem;
    }

    .hero-image-btn {
        max-width: 25vw;
        padding: 1rem 0;
        Font-size: 1.4rem;
    }

    #hygge-is {
        font-size: 1.2rem;
    }

    .popular-categories {
        width: 80%;
    }

    .incentives-container {
        font-size: 1rem;
    }

    .product-container, .collection-container, .checkout-success-container{
        width: 40vw;
    }

    .cart-items-table td {
        font-size: 1rem;
    }

    .adj-quantity-group {
        max-width: 60%;
    }

    .thumbnail {
        height: 150px;
    }
}
