{% block footerjs %}

<script type="text/javascript">
    // Prevent out of bounds
    function preventOutOfBounds(itemId) {
        let targetInput = $(`#id_qty_${itemId}`)[0];
        let maxValue = parseInt(targetInput['max']);
        let currentValue = parseInt(targetInput['value']);
        let disableDecreaseBtn = currentValue < 2;
        let disableIncreaseBtn = currentValue >= maxValue;
        $(`#decrease-btn_${itemId}`).prop('disabled', disableDecreaseBtn);
        $(`#increase-btn_${itemId}`).prop('disabled', disableIncreaseBtn);
    }

    // Handle change events (If someone manual input)
    $('.adj-quantity').change(function(){
        itemId = $(this).data('item_id');
        console.log(itemId)
        preventOutOfBounds(itemId)
    })


    // Handle out of bounds on page load.
    $('.adj-quantity').each(function() {
        itemId = $(this).data('item_id');
        preventOutOfBounds(itemId)
    });

    // Increase Qty
    $('.increase-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.adj-quantity-group').find('.adj-quantity')[0];
        let currentQty = parseInt($(closestInput).val());
        $(closestInput).val(currentQty + 1);
        itemId = $(this).data('item_id');
        preventOutOfBounds(itemId)
    });

    // Decrease Qty
    $('.decrease-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.adj-quantity-group').find('.adj-quantity')[0];
        let currentQty = parseInt($(closestInput).val());
        $(closestInput).val(currentQty - 1);
        itemId = $(this).data('item_id');
        preventOutOfBounds(itemId)
    });

</script>

{% endblock %}