{% extends 'base.html' %}
{% load static %}

{% block additional_headjs %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{% endblock %}

{% block page_heading %}
{% endblock %}

{% block content %}
{% include 'index/includes/incentives.html' %}

{% include 'index/includes/hero_image.html' %}

{% include 'index/includes/hygge.html' %}

{% include 'index/includes/popular_categories.html' %}
{% endblock %}

{% block footerjs %}
<script type="text/javascript">
    
    $('#hygge-what:parent').click(function(){   
        $('#hygge-is').slideToggle(700, 'easeOutBounce' )
    })


</script>
{% endblock %}