{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5">
  <h2>Add Product</h2>
  <hr>

  <form action="" method="POST" enctype="multipart/form-data">
    <fieldset disabled="disabled">
      {% include 'products/includes/product_form.html' %}
    </fieldset>
  </form>

{% block variants_block %}

<form method="POST" action="{% url 'add_variants' product.id %}" id="add-variants-form" class="mt-3">

        <h5>Add Variants</h5>
        {% csrf_token %}
        {{ variant_formset.management_form }}
        {% for form in variant_formset %}
            
        <div class="add-variant-area row my-3">
            {% for field in form.visible_fields %}
              {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
              {% endif %}
              {% if field.name == 'parent_product' %}
              {{ field }} 
              {% elif field.name == 'color' or field.name == 'size' %}
                <div class="col-6 mt-2">
                    {{ field.label }}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </div>
              {% else %}
                <div class="col-4 mt-2">
                    {{ field.label }}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </div>
              {% endif %}
            {% endfor %}
                <div class="col-4 mt-2 d-flex align-items-end">
                  <button type="submit" class="btn btn-success w-100">Add Variant</button>
                </div>
        </div> 
        
        {% endfor %}
        
</form>
    
{% endblock %}

{% endblock %}

