{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <h2>Add Product</h2>
    <hr>
    <form action="{% url 'add_product' %}" method="POST" id="add-product-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in product_form %}
            {% if field.name == "has_variants" %}
            <hr>
            <label for="{{ field.auto_id }}" class="me-2">{{ field.label }}</label>
               {{ field }}
            {% elif field.name == "available" %}
            <label for="{{ field.auto_id }}" class="ms-5 me-2">{{ field.label }}</label>
               {{ field }}   
            {% else %}   
                {{ field | as_crispy_field }}
            {% endif %}
        {% endfor %}

        <div class="my-2">
            <hr>
            <button type="submit" class="btn btn-dark" id="add-product-btn">
                Create Product <i class="fas fa-plus-circle"></i>
            </button>
        </div> 
    </form>
    <!-- Variants Form -->
    {% block variants_block %}
    {% endblock %}
</div>
{% endblock %}

{% block footerjs %}

<script type="text/javascript">

    submitButton = $('#add-product-btn');
    btnText = submitButton.html();

    $('#has_variants').change( function() {
        if (this.checked === true) {
            $('#add-variants-form').removeClass('d-none');
            submitButton.html('Save & Add Variants <i class="fas fa-arrow-circle-right"></i>')
        } else {
            $('#add-variants-form').addClass('d-none')
            submitButton.html(btnText)
        }
    })
    
    $('#new-image').change(previewImage);
    
    /** 
     * Adds Preview of uploaded image below the form input upon file upload.
    */
    function previewImage() {
        
        clearExistingImagePreview();
        
        /* Credit: https://stackoverflow.com/questions/22245100/how-to-display-an-image-from-a-file-input */
        let file = document.querySelector('#new-image').files[0];
        let reader = new FileReader();

        reader.onload = function(e) {
            let formImageSection = document.getElementById('div_id_image');

            let imageContainer = document.createElement('div');
            imageContainer.id = "image-preview-container";

            let image = document.createElement('img');
            image.id = 'image-preview';
            image.src = e.target.result;

            let deleteIcon = document.createElement('div');
            deleteIcon.id = "delete-icon";
            deleteIcon.innerHTML = `<i class="fas fa-times-circle"></i>`;

            formImageSection.appendChild(imageContainer);
            imageContainer.appendChild(image);
            imageContainer.appendChild(deleteIcon);
            
            /* Remove image completely to allow form submission without image */
            deleteIcon.addEventListener('click', function() {
                
                document.querySelector('#new-image').value = '';
                
                clearExistingImagePreview();
            });
        }
        reader.readAsDataURL(file);
    }

    /**
     * If user reselects image, delete existing preview before rendering
     * the new image preview. 
    */
    function clearExistingImagePreview() {
        existingImage = document.getElementById('image-preview-container')
        if (existingImage != null) {
            existingImage.remove();
        }
    }

    

</script>

{% endblock %}