{% extends 'products/add_product.html' %}
{% load crispy_forms_tags %}

{% block variants_block %}

<form method="POST" action="" id="add-variants-form" class="mt-3">

        <h5>Add Variants</h5>
        {{ variant_formset.management_form }}
        {% for form in variant_formset %}
            
        <div class="add-variant-area row my-3">
            {% for field in form.visible_fields %}
              {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
              {% endif %}
              {% if field.name == 'parent_product' %}
                {{ field }}
              {% elif field.name == 'color' or field.name == 'size' %}
                <div class="col-6 mt-2">
                    {{ field.label }}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </div>
              {% else %}
                <div class="col-4 mt-2">
                    {{ field.label }}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </div>
              {% endif %}
            {% endfor %}
        </div> 
        
        {% endfor %}
</form>
    
{% endblock %}

