{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2>Add Product</h2>
    <hr>

    <form action="{% url 'add_product' %}" method="POST" id="add-product-form" enctype="multipart/form-data">
        {% include 'products/includes/product_form.html' %}
        <div class="my-2">
            <hr>
            <button type="submit" class="btn btn-dark" id="add-product-btn">
                Create Product <i class="fas fa-plus-circle"></i>
            </button>
        </div> 
    </form>

    <!-- Variants Form -->
    {% block variants_block %}
    {% endblock %}
</div>
{% endblock %}

{% block footerjs %}

{% include 'products/includes/products_postload_js.html' %}


{% endblock %}