{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5 product-container">
  <h2>Add Product</h2>
  <hr>

  <form action="" method="POST" enctype="multipart/form-data">
    <fieldset disabled="disabled">
      {% include 'products/includes/product_form.html' %}
    </fieldset>
  </form>

{% block variants_block %}

<form method="POST" action="{% url 'add_variants' product.id %}" id="add-variants-form" class="mt-3" enctype="multipart/form-data">

        {% include 'products/includes/variant_form.html' %}
        
</form>
</div>
    
{% endblock %}

{% endblock %}

