{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid products-container">
    <div class="row">
        <div class="my-3 col-12 sort-select-wrapper">
            <select name="" id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
            </select>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 product-tile my-3">
            <div>
                <a href="{% url 'single_product' product.id %}">
                    <div class="product-tile-img text-center">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}hero1.jpg{% endif %}" alt="{{ product.name }}">
                    </div>
                </a>
                <div class="product-tile-name mt-3">
                    <h5 class="ms-2">{{ product.name }}</h5>
                </div>
                <h4 class="text-center">€{{ product.price }}</h4>
                <div class="product-tile-buttons my-4">
                    <a href="{% url 'single_product' product.id %}" class="btn btn-dark"><i class="far fa-eye"></i><br>View Product</a>
                    <a href="" class="btn btn-bright"><i class="fas fa-cart-plus"></i><br>Add to Cart</a>
                </div>
                {% if request.user.is_superuser %}
                    <div class="text-center mb-2 edit-delete-container">
                        <a href="{% url 'edit_product' product.id %}" class="text-info">Edit Product</a> | <a class="text-danger delete-product">Delete Product</a>
                        <div class="are-you-sure">
                            <a href="{% url 'delete_product' product.id %}" class="btn btn-success"><i class="fas fa-trash-alt"></i>  Delete</a> | <span class="cancel btn btn-danger"><i class="fas fa-times-circle"></i>  Cancel</span>
                        </div>
                    </div>
                {% endif %}
                <a href="{% url 'products' %}?category={{ product.category }}" class="product-path">
                    <small class="ms-2 ">
                        <i class="fas fa-folder"></i> {{ product.category | title }}
                    </small>
                </a>
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footerjs %} 
<script type="text/javascript">
    
    let deleteButtons = document.querySelectorAll('.delete-product')
    deleteButtons.forEach(button => button.addEventListener('click', confirmDelete));

    function confirmDelete(event) {
        popup = $(this).next()
        popup.show();

        cancelButton = popup.children('span')
        cancelButton.click( function() {
            popup.hide()
        })

    }

</script>

<script type="text/javascript">
    $('#sort-selector').change(function(){
        var selector = $(this)
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != 'reset'){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set('sort', sort);
            currentUrl.searchParams.set('direction', direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete('sort');
            currentUrl.searchParams.delete('direction');

            window.location.replace(currentUrl);
        }
    })
</script>

{% endblock %}
