{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 product-path ms-2 mb-5">
            <a href="{% url 'index' %}">Home</a> /
            <a href="{% url 'products' %}">Products</a> /
            <a href="{% url 'products' %}?category={{ product.category }}">{{ product.category | title }}</a> /
            <a href="{% url 'single_product' product.id %}">Product/{{product.id}}</a>
        </div>
        <!-- Create list of hidden variants to enable dynamic change of images, availability and pricing -->
        <ul class="hidden-variants d-none">
            {% for variant in variants %}
                {% if variant.image %}
                    <li class="var-img" id="variant-{{ variant.id}}"  data-var_img="{{ variant.image.url }}" data-var_price="{{ variant.price }}" data-var_qty="{{ variant.quantity }}"></li>
                {% else %}
                    <li class="var-img" id="variant-{{ variant.id}}" data-var_img="{{ product.image.url }}" data-var_price="{{ variant.price }}" data-var_qty="{{ variant.quantity }}"></li>
                {% endif %}
            {% endfor %}
            <li id="base-price" data-var_price="{{ product.price }}" data-var_img="{{ product.image.url }}"></li>
        </ul>
        <div class="col-12 col-sm-6 col-lg-5 offset-lg-1">
            <div class="row">
                <div class="col-12 single-product-img-container p-0">
                    <img src="{% if first_available_variant.image %}{{ first_available_variant.image.url }}{% elif product.image %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}hero1.jpg{% endif %}" alt="{{ product.name }}" class="single-product-img" id="main-product-img">
                </div>
            </div>
            {% if variants %}
                {% if variants|length >= 3 %}
                    <div class="thumbnail-container justify-content-between">
                {% else %}
                    <div class="thumbnail-container justify-content-start">
                {% endif %}
                        {% for variant in variants %}
                            {% if forloop.counter <= 3 %}
                                <div class="thumbnail {% if variants|length < 3%}me-3{% endif %}">
                                    <img src="" alt="" class="thumbnail-img">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if variants|length > 3 %}
                    <div id="thumbnail-btn-container" class="text-center d-flex justify-content-between align-items-center mt-2 px-4">
                        <a class="btn" id="thumbnail-prev"><i class="fas fa-chevron-circle-left fa-2x"></i></a>
                        <a class="btn" id="thumbnail-next"><i class="fas fa-chevron-circle-right fa-2x"></i></a>
                    </div>
                    {% endif %}
            {% endif %}
            
        </div>
        <div class="col-12 col-sm-6 col-lg-5 mt-3 mt-sm-0">
            <h3 class="px-3 px-lg-5">{{ product.name }}</h3>
            <h4 class="px-3 px-lg-5" id="product-price">€{{ product.price }}</h4>
            <hr>
            
            <p class="px-3 px-lg-5" id="product-availability"><strong>Availability: </strong>
                {% if first_available_variant.quantity %}
                <span class="text-success">{{ first_available_variant.quantity }} In Stock</span>
                {% elif product.quantity > 0 %}
                <span class="text-success">{{ product.quantity }} In Stock</span>
                {% else %}
                <span class="text-danger">Sold Out</span>
                {% endif %}
            </p>
            
            <form action="{% url 'add_to_cart' product.id %}" method="POST" class="row px-3 px-lg-5">
                {% csrf_token %}
                
                <div class="col-8 col-lg-7">
                    {% if variants %}
                        <select class="form-select" name="variant-select" id="variant-select">
                            {% for variant in variants %}
                                <option value="{{ variant.id }}">
                                    {% if variant.color %}{{ variant.color | title }}{% endif %}
                                    {% if variant.color and variant.size %} - {% endif %} 
                                    {% if variant.size %}{{ variant.size | upper }}{% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-8 col-lg-5 mt-3 mb-1 mt-lg-0 form-group d-flex flex-row">
                    <button type="button" class="btn input-group-prepend px-3" id="decrease-qty"><i class="fas fa-minus"></i></button>
                    <input class="form-control" name="add-to-cart-quantity" id="add-to-cart-quantity" type="number" value="1" max="{{ first_available_variant.quantity }}">
                    <button type="button" class="btn input-group-append px-3" id="increase-qty"><i class="fas fa-plus"></i></button>
                </div>
                <div class="col-8 col-lg-12 mt-2">
                    <button type="submit" class="btn btn-bright w-100 p-2" id="add-to-cart-btn">Add to Cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </form>

            {% if request.user.is_superuser %}
            <div class="px-3 px-lg-5 mt-5">
                <a href="{% url 'edit_product' product.id %}" class="text-info">Edit Product</a> | <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete Product</a>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
            <hr>
            <p class="px-3 px-lg-5">{{ product.description }}</p>
        </div>
    </div>
    
</div>
{% endblock %}

{% block footerjs %}
<script type="text/javascript">
    function preventOutOfBoundsProd(){
        let maxValue = $('#add-to-cart-quantity').attr('max')
        let currentQtyVal = $('#add-to-cart-quantity').val()
        let disableDecreaseBtn = currentQtyVal < 2;
        let disableIncreaseBtn = currentQtyVal >= parseInt(maxValue);
        $(`#decrease-qty`).prop('disabled', disableDecreaseBtn);
        $(`#increase-qty`).prop('disabled', disableIncreaseBtn);
    };

    $('#add-to-cart-quantity').change(preventOutOfBoundsProd);

    $('#increase-qty').click(function(){
        let currentQtyVal = $('#add-to-cart-quantity').val()
        $('#increase-qty').attr('disabled', false);
        $('#add-to-cart-quantity').val((parseInt(currentQtyVal) + 1))
        preventOutOfBoundsProd()
        
    });

    $('#decrease-qty').click(function(){
        let currentQtyVal = $('#add-to-cart-quantity').val()
        $('#add-to-cart-quantity').val((parseInt(currentQtyVal) - 1))
        preventOutOfBoundsProd()
    });
    
    $(document).ready(function() {
        $(window).keydown(function(event){
        if(event.keyCode == 13) {
            event.preventDefault();
            return false;
            }
        });
    });

    $('#variant-select').change(function(){
        // Get Variant ID
        let currentVariantId = $(this).val();
        let currentVariant = $(`#variant-${currentVariantId}`);
        // Get Variant Img from hidden variant info
        let currentVariantImg = currentVariant.attr('data-var_img');
        let mainProductImage = $('#main-product-img');
        // reset main product value
        mainProductImage.attr('src', currentVariantImg);
        
        // repeat for price
        let currentVariantPrice = currentVariant.attr('data-var_price');
        let mainProductPrice = $('#product-price');

        if (currentVariantPrice != "None") {
            mainProductPrice.text(`€${currentVariantPrice}`);
        } else {
            const basePrice = $('#base-price').attr('data-var_price');
            mainProductPrice.text(`€${basePrice}`);
        }
        
        // repeat for quantity
        let currentVariantQty = currentVariant.attr('data-var_qty');
        let productAvailablity = $('#product-availability');
        if (currentVariantQty > 0) {
            productAvailablity.html(
                `<strong>Availability: </strong>
                <span class="text-success">${currentVariantQty} In Stock</span>
                `
            )
            $('#add-to-cart-quantity').attr('max', currentVariantQty)
            preventOverSelling()
            enableAddToCart()
        } else {
            productAvailablity.html(
                `<strong>Availability: </strong>
                <span class="text-danger">Sold Out</span>
                `
            )
            preventOutOfBoundsProd()
            disableAddToCart()
        } 
    })
   
    // Check if quantity input is > available stock & reduce stock if True
    $('#add-to-cart-quantity').change(preventOverSelling)

    function preventOverSelling(){
        let quantityInput = $('#add-to-cart-quantity')
        let quantityInputVal = quantityInput.val()
        let quantityInputMax = quantityInput.attr('max')
        if (quantityInputVal > quantityInputMax) {
            $(quantityInput).css('border', '2px solid red')
            setTimeout(function(){
                $(quantityInput).css('border', 'none')
                $(quantityInput).val(quantityInputMax)
            }, 1000)
        }
    }

    // Enable add to cart button if stock available
    function enableAddToCart(){
        $('#add-to-cart-btn').removeClass('bg-danger')
        $('#add-to-cart-btn').html(`Add to Cart <i class="fas fa-cart-plus"></i>`)
        $('#add-to-cart-btn').attr('disabled', false)
        $('#add-to-cart-btn').removeClass('not-allowed')
    }

    // Disable add to cart button if sold out
    function disableAddToCart(){
        $('#add-to-cart-btn').attr('disabled', true)
        $('#add-to-cart-btn').html('Sold Out <i class="fas fa-ban"></i>')
        $('#add-to-cart-btn').addClass('bg-danger')
        $('#add-to-cart-btn').addClass('not-allowed')
    }

    // Build an array of product/variant image.srcs
    const baseProductImg = document.querySelector('#base-price').dataset.var_img
    let variantImages = [baseProductImg]
    let variants = document.querySelectorAll('.var-img');
    for (variant of variants){
        let singleImg = variant.dataset.var_img;
        variantImages.push(singleImg)
    }

    // assign image.src to each of 3 image thumbnail img elements
    function setThumbnailImage(i) {
        let thumbnailImages = document.querySelectorAll('.thumbnail-img');
        for (image of thumbnailImages){
            image.src = variantImages[i]
            i += 1
        }
    }
    
    // Set image thumnails when page loads
    let imageThumbnailIndex = 0
    setThumbnailImage(imageThumbnailIndex)
    
    // Go back one image when left arrow button is clicked
    $('#thumbnail-prev').click(function(){
        if (imageThumbnailIndex == 0 ){
            imageThumbnailIndex = (variantImages.length - 3)
        } else {
            imageThumbnailIndex -= 1
        }
        setThumbnailImage(imageThumbnailIndex)
    });

    // Go forward one image when left arrow button is clicked
    $('#thumbnail-next').click(function(){
        if (imageThumbnailIndex == (variantImages.length - 3) ){
            imageThumbnailIndex = 0
        } else {
            imageThumbnailIndex += 1
        }
        setThumbnailImage(imageThumbnailIndex)
    });

   // Set main gallery image to selected thumnail on click
   $('.thumbnail').click(function(){
       let targetImage = $(this).children('.thumbnail-img').attr('src')
       let mainProductImage = $('#main-product-img');
       mainProductImage.attr('src', targetImage);
   })

  // Create indicator dots to represent number of images
  for (i=0; i < variantImages.length - 1; i++) {
      let newIndicator = document.createElement('span');
      $(newIndicator).addClass('indicator');
      $('#thumbnail-prev').after(newIndicator);
  }

</script>
{% endblock %}

