{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 product-path ms-2 mb-5">
            <a href="{% url 'index' %}">Home</a> /
            <a href="{% url 'products' %}">Products</a> /
            <a href="{% url 'products' %}?category={{ product.category }}">{{ product.category | title }}</a> /
            <a href="{% url 'single_product' product.id %}">Product/{{product.id}}</a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 offset-lg-2">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="single-product-img">
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mt-3 mt-sm-0">
            <h3 class="px-3 px-lg-5">{{ product.name }}</h3>
            <hr>
            <p class="px-3 px-lg-5"><strong>Availability: </strong>
                {% if product.quantity > 0 %}
                <span class="text-success">{{ product.quantity }} In Stock</span>
                {% else %}
                <span class="text-danger">Sold Out</span>
                {% endif %}
            </p>
            <form action="" class="px-3 px-lg-5">
                <input type="number" value="1">
                <button class="btn btn-dark">Add to Cart</button>
            </form>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
            <hr>
            <p class="px-3 px-lg-5">{{ product.description }}</p>
        </div>
    </div>
    
</div>
{% endblock %}

