{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <form action="{% url 'add_icon' %}" method="POST" id="add-icon">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="my-2">
            <button type="submit" class="btn btn-dark"><i class="fas fa-plus-circle"></i> Add Icon</button>
        </div>
    </form>
    <div class="text-center my-3">
        <p>Ready to add a new social media link in the footer?</p>
        <a href="{% url 'add_icon' %}">Add a new social media link!</a>
    </div>
</div>

{% endblock %}